main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h1 {
        width: fit-content;
    }
    & div {
        display: flex;
        justify-content: center;
        gap: 1rem;
        & img {
            width: 30%;
        }
    }
}
