* {
    box-sizing: border-box;
    /* margin: 0; */
}
body {
    background-image: url(./magicpattern-confetti.png);
    & main {
    width: 60%;
    margin: 3rem auto;
    text-align: center;
    box-sizing: border-box;
    & p {
        font-size: 1.3rem;
        & span {
            font-weight: 700;
        }
    }
    & form {
        & label, input {
            display: block;
            margin: 0 auto;
            font-size: 1.3rem;
            margin-bottom: 0.5rem;
        }
        & input {
                border-radius: 0.5rem;
            }
    }
}

}
