/* NOTE: Color palette : #EFBC9B #FBF3D5 #D6DAC8 #9CAFAA */
html {
    background-color: #FBF3D5;
}
header {
    display: flex;
    align-items: center;
    background-color: #EFBC9B;
    nav {
        margin-left: auto;
        margin-right: 4rem;
        display: flex;
        align-items: center;
        & h3 {
            margin: 0 0.5rem 0 0.5rem;
        }
    }
}
main {

    ul > li {
        color: red;
        font-size: 1.2rem;
        line-height: 1.5rem;
        list-style-type: none;
    }
    section {
        h3 {
            font-size: 2rem;
        }
        p {
            font-size: 1.3rem;
        }
    }
    form {
        display: flex;;
        flex-direction: column;
        width: 40%;
        margin: 0 auto;
    }
    .user_reviews_section {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 3rem auto;
        text-align: center;
        .user_reviews {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            outline: 0.3rem solid black;
            .user {
            font-size: 1.3rem;
            font-weight: 700;
            }
            .user_review_content {
                font-size: 1.2rem;
                min-height: 100%;
                max-height: fit-content;
            }
        }
    }
}
